head {
  background-color: #6d6d6d;
  font-family: 'Major Mono Display', monospace;	
 
  
}

body {
  background-color: #6d6d6d;

  font-family: 'Major Mono Display', monospace;	
  
}

h1 {
  padding-top: 10px;
  padding-left: 10px;
}
